doctype html
html
  head
    meta(charset='UTF-8')
    title TimeKeeper
    link(rel='stylesheet', href='//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.0/css/bootstrap.min.css')
    link(rel='stylesheet', href='//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.2.0/css/font-awesome.min.css')
    link(rel='stylesheet', href='/css/main.css')
  body
    div.container
      div(ng-view)
    script(data-main='js/main.js' src='//cdnjs.cloudflare.com/ajax/libs/require.js/2.1.15/require.min.js')